.loading {
  position: absolute;
  right: 100%;
  background-color: transparent;
  opacity: 0.01%;
  transition-property: opacity, background-color, top, right, left, bottom;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  align-items: center;
  justify-content: center;
}

.loading__visible {
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 99.99%;
}
